.btn-cuestionario {
    background-color: #3A53EE;
    color: #fff;
    cursor: pointer;
    border: 2px solid #3A53EE;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
   }

   .btn-cuestionario:hover {
    transition: .4s;
    background-color: #fff;
    color: #3A53EE;
   }

