@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .error-message {
    @apply bg-red-100 border-l-4 border-red-500 text-red-700
        text-sm md:text-xs rounded-r-md p-1 mt-1 font-semibold;
  }
  .confirm-message {
    @apply bg-green-100 border-l-4 border-green-500 text-green-700
        text-sm md:text-xs rounded-r-md p-1 mt-1 font-semibold;
  }
  .card {
    @apply bg-black
        w-96 min-h-[10rem]
        flex items-center justify-center
        drop-shadow-3xl rounded-md overflow-hidden

        /* Responsive */
        2xl:w-96 md:w-60;
  }
  .cardCuestionarios {
    @apply
      bg-white
        w-96 min-h-[10rem]
        rounded-md overflow-hidden
        drop-shadow-3xl

        /* Responsive */
        2xl:w-96 md:w-72;
  }
  .card-header {
    @apply px-1.5 py-2;
  }
  .container-img{
    @apply
    w-full h-48
  }
  .banner{
    @apply
    w-full h-48 flex flex-col items-center
  }
}
