@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply bg-black
        w-60 min-h-[10rem]
        flex items-center justify-center
        drop-shadow-3xl rounded-md overflow-hidden
        /* Responsive */
        movilM:w-64 movilL:w-72 tableta:w-80
  }
  .cardCuestionarios {
    @apply
      bg-white
        w-72 min-h-[10rem]
        rounded-md overflow-hidden
        drop-shadow-3xl

        /* Responsive */
        movilL:w-80 tableta:w-80
  }
  .card-header {
    @apply px-1.5 py-2;
  }
  .container-img{
    @apply
    w-full h-48
  }
  .banner{
    @apply
    w-full h-52 flex flex-col items-center
  }

  .btn-cuestionario{
    @apply
    bg-bright-blue dark:bg-black text-white 
    cursor-pointer 
    border-2 border-bright-blue dark:border-black/20
    transition duration-500

    /* Hover */
    hover:bg-white dark:hover:bg-white hover:text-bright-blue dark:hover:text-black
  }
}
